@font-face {
  font-family: "Museo Sans";
  font-weight: 100;
  font-display: swap;
  src: url("../../../themes/site/themes/custom/otsuka_jynarque_adpkd_2021/assets/build/fonts/museo_sans/MuseoSans_100-webfont.html") format("woff"), url("../../../themes/site/themes/custom/otsuka_jynarque_adpkd_2021/assets/build/fonts/museo_sans/MuseoSans_100.html") format("opentype");
}

@font-face {
  font-family: "Museo Sans";
  font-weight: 300;
  font-display: swap;
  src: url("../../../themes/site/themes/custom/otsuka_jynarque_adpkd_2021/assets/build/fonts/museo_sans/MuseoSans_300-webfont.html") format("woff"), url("../../../themes/site/themes/custom/otsuka_jynarque_adpkd_2021/assets/build/fonts/museo_sans/MuseoSans_300.html") format("opentype");
}

@font-face {
  font-family: "Museo Sans";
  font-weight: 500;
  font-display: swap;
  src: url("../../../themes/site/themes/custom/otsuka_jynarque_adpkd_2021/assets/build/fonts/museo_sans/MuseoSans_500-webfont.html") format("woff"), url("../../../themes/site/themes/custom/otsuka_jynarque_adpkd_2021/assets/build/fonts/museo_sans/MuseoSans_500.html") format("opentype");
}

@font-face {
  font-family: "Museo Sans";
  font-weight: 700;
  font-display: swap;
  src: url("../../../themes/site/themes/custom/otsuka_jynarque_adpkd_2021/assets/build/fonts/museo_sans/MuseoSans_700-webfont.html") format("woff"), url("../../../themes/site/themes/custom/otsuka_jynarque_adpkd_2021/assets/build/fonts/museo_sans/MuseoSans_700.html") format("opentype");
}

@font-face {
  font-family: "Whitman";
  font-weight: 400;
  font-display: swap;
  src: url("../../../themes/site/themes/custom/otsuka_jynarque_adpkd_2021/assets/build/fonts/whitman/Whitman-Roman.html") format("opentype");
}

@font-face {
  font-family: "Whitman";
  font-weight: 700;
  font-display: swap;
  src: url("../../../themes/site/themes/custom/otsuka_jynarque_adpkd_2021/assets/build/fonts/whitman/Whitman-Bold.html") format("opentype");
}

@font-face {
  font-family: "SourceSansPro";
  font-weight: 200;
  font-display: swap;
  src: url("../../../themes/site/themes/custom/otsuka_jynarque_adpkd_2021/assets/build/fonts/source_sans_pro/SourceSansPro-ExtraLight.html") format("opentype");
}

@font-face {
  font-family: "SourceSansPro";
  font-weight: 200;
  font-style: italic;
  font-display: swap;
  src: url("../../../themes/site/themes/custom/otsuka_jynarque_adpkd_2021/assets/build/fonts/source_sans_pro/SourceSansPro-ExtraLightItalic.html") format("opentype");
}

@font-face {
  font-family: "SourceSansPro";
  font-weight: 300;
  font-display: swap;
  src: url("../../../themes/site/themes/custom/otsuka_jynarque_adpkd_2021/assets/build/fonts/source_sans_pro/SourceSansPro-Light.html") format("opentype");
}

@font-face {
  font-family: "SourceSansPro";
  font-weight: 300;
  font-style: italic;
  font-display: swap;
  src: url("../../../themes/site/themes/custom/otsuka_jynarque_adpkd_2021/assets/build/fonts/source_sans_pro/SourceSansPro-LightItalic.html") format("opentype");
}

@font-face {
  font-family: "SourceSansPro";
  font-weight: 400;
  font-display: swap;
  src: url("../../../themes/site/themes/custom/otsuka_jynarque_adpkd_2021/assets/build/fonts/source_sans_pro/SourceSansPro-Regular.html") format("opentype");
}

@font-face {
  font-family: "SourceSansPro";
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: url("../../../themes/site/themes/custom/otsuka_jynarque_adpkd_2021/assets/build/fonts/source_sans_pro/SourceSansPro-Italic.html") format("opentype");
}

@font-face {
  font-family: "SourceSansPro";
  font-weight: 600;
  font-display: swap;
  src: url("../../../themes/site/themes/custom/otsuka_jynarque_adpkd_2021/assets/build/fonts/source_sans_pro/SourceSansPro-SemiBold.html") format("opentype");
}

@font-face {
  font-family: "SourceSansPro";
  font-weight: 600;
  font-style: italic;
  font-display: swap;
  src: url("../../../themes/site/themes/custom/otsuka_jynarque_adpkd_2021/assets/build/fonts/source_sans_pro/SourceSansPro-SemiBoldItalic.html") format("opentype");
}

@font-face {
  font-family: "SourceSansPro";
  font-weight: 700;
  font-display: swap;
  src: url("../../../themes/site/themes/custom/otsuka_jynarque_adpkd_2021/assets/build/fonts/source_sans_pro/SourceSansPro-Bold.html") format("opentype");
}

@font-face {
  font-family: "SourceSansPro";
  font-weight: 700;
  font-style: italic;
  font-display: swap;
  src: url("../../../themes/site/themes/custom/otsuka_jynarque_adpkd_2021/assets/build/fonts/source_sans_pro/SourceSansPro-BoldItalic.html") format("opentype");
}

@font-face {
  font-family: "SourceSansPro";
  font-weight: 900;
  font-display: swap;
  src: url("../../../themes/site/themes/custom/otsuka_jynarque_adpkd_2021/assets/build/fonts/source_sans_pro/SourceSansPro-Black.html") format("opentype");
}

@font-face {
  font-family: "SourceSansPro";
  font-weight: 900;
  font-style: italic;
  font-display: swap;
  src: url("../../../themes/site/themes/custom/otsuka_jynarque_adpkd_2021/assets/build/fonts/source_sans_pro/SourceSansPro-BlackItalic.html") format("opentype");
}

ul, ol, dl {
  padding-left: 2.5rem;
}

table td {
  font-weight: 300;
}

blockquote {
  margin-bottom: 1rem;
  font-size: 1.25rem;
}

.btn {
  text-transform: uppercase;
  height: auto;
}

.btn-rounded {
  border-radius: 1.1875rem;
}

.btn-rounded.btn-lg {
  border-radius: 1.5rem;
}

.btn-rounded.btn-sm {
  border-radius: 0.96875rem;
}

.form-label {
  font-size: 1rem;
}

.form-label.form-label-lg {
  font-size: 1.25rem;
}

.form-label.form-label-sm {
  font-size: .875rem;
}

.editor--time-meridian {
  font-size: 0.8rem;
}

.editor--wrapped-urls {
  white-space: nowrap;
  display: inline-block;
  overflow: hidden;
  max-width: 18.75rem;
  text-overflow: ellipsis;
}

.dialog-off-canvas-main-canvas {
  flex-direction: column;
  display: flex;
  height: 100%;
}

#page-container {
  flex: 1 0 auto;
}

#section-footer {
  flex-shrink: 0;
}

.field-label-inline > * {
  display: inline;
}

.field-label-inline .field__label:after {
  content: ':';
}

.content ul li {
  margin: 1rem 0;
}

/*!
@description Functionalities of internal spacing/grid .
Please notice if you change one of this values the change will impact whole storybook and application, so beware :)
 */
.ods-pt-0 {
  padding-top: 0px !important;
}

.ods-pb-0 {
  padding-bottom: 0px !important;
}

.ods-mt-0 {
  margin-top: 0px !important;
}

.ods-mb-0 {
  margin-bottom: 0px !important;
}

.ods-pt-5 {
  padding-top: 0.3125rem;
}

.ods-pb-5 {
  padding-bottom: 0.3125rem;
}

.ods-mt-5 {
  margin-top: 0.3125rem;
}

.ods-mb-5 {
  margin-bottom: 0.3125rem;
}

.ods-pt-10 {
  padding-top: 0.625rem;
}

.ods-pb-10 {
  padding-bottom: 0.625rem;
}

.ods-mt-10 {
  margin-top: 0.625rem;
}

.ods-mb-10 {
  margin-bottom: 0.625rem;
}

.ods-pt-15 {
  padding-top: 0.9375rem;
}

.ods-pb-15 {
  padding-bottom: 0.9375rem;
}

.ods-mt-15 {
  margin-top: 0.9375rem;
}

.ods-mb-15 {
  margin-bottom: 0.9375rem;
}

.ods-pt-20 {
  padding-top: 1.25rem;
}

.ods-pb-20 {
  padding-bottom: 1.25rem;
}

.ods-mt-20 {
  margin-top: 1.25rem;
}

.ods-mb-20 {
  margin-bottom: 1.25rem;
}

.ods-pt-25 {
  padding-top: 1.5625rem;
}

.ods-pb-25 {
  padding-bottom: 1.5625rem;
}

.ods-mt-25 {
  margin-top: 1.5625rem;
}

.ods-mb-25 {
  margin-bottom: 1.5625rem;
}

.ods-pt-30 {
  padding-top: 1.875rem;
}

.ods-pb-30 {
  padding-bottom: 1.875rem;
}

.ods-mt-30 {
  margin-top: 1.875rem;
}

.ods-mb-30 {
  margin-bottom: 1.875rem;
}

.ods-pt-35 {
  padding-top: 2.1875rem;
}

.ods-pb-35 {
  padding-bottom: 2.1875rem;
}

.ods-mt-35 {
  margin-top: 2.1875rem;
}

.ods-mb-35 {
  margin-bottom: 2.1875rem;
}

.ods-pt-40 {
  padding-top: 2.5rem;
}

.ods-pb-40 {
  padding-bottom: 2.5rem;
}

.ods-mt-40 {
  margin-top: 2.5rem;
}

.ods-mb-40 {
  margin-bottom: 2.5rem;
}

.ods-pt-45 {
  padding-top: 2.8125rem;
}

.ods-pb-45 {
  padding-bottom: 2.8125rem;
}

.ods-mt-45 {
  margin-top: 2.8125rem;
}

.ods-mb-45 {
  margin-bottom: 2.8125rem;
}

.ods-pt-50 {
  padding-top: 3.125rem;
}

.ods-pb-50 {
  padding-bottom: 3.125rem;
}

.ods-mt-50 {
  margin-top: 3.125rem;
}

.ods-mb-50 {
  margin-bottom: 3.125rem;
}

.ods-pt-55 {
  padding-top: 3.4375rem;
}

.ods-pb-55 {
  padding-bottom: 3.4375rem;
}

.ods-mt-55 {
  margin-top: 3.4375rem;
}

.ods-mb-55 {
  margin-bottom: 3.4375rem;
}

.ods-pt-60 {
  padding-top: 3.75rem;
}

.ods-pb-60 {
  padding-bottom: 3.75rem;
}

.ods-mt-60 {
  margin-top: 3.75rem;
}

.ods-mb-60 {
  margin-bottom: 3.75rem;
}

.ods-pl-0 {
  padding-left: 0px !important;
}

.ods-pr-0 {
  padding-right: 0px !important;
}

.ods-px-0 {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.ods-ml-0 {
  margin-left: 0px !important;
}

.ods-mr-0 {
  margin-right: 0px !important;
}

.ods-mx-0 {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.ods-pl-5 {
  padding-left: 0.3125rem;
}

.ods-pr-5 {
  padding-right: 0.3125rem;
}

.ods-px-5 {
  padding-left: 0.3125rem;
  padding-right: 0.3125rem;
}

.ods-ml-5 {
  margin-left: 0.3125rem;
}

.ods-mr-5 {
  margin-right: 0.3125rem;
}

.ods-mx-5 {
  margin-left: 0.3125rem;
  margin-right: 0.3125rem;
}

.ods-pl-10 {
  padding-left: 0.625rem;
}

.ods-pr-10 {
  padding-right: 0.625rem;
}

.ods-px-10 {
  padding-left: 0.625rem;
  padding-right: 0.625rem;
}

.ods-ml-10 {
  margin-left: 0.625rem;
}

.ods-mr-10 {
  margin-right: 0.625rem;
}

.ods-mx-10 {
  margin-left: 0.625rem;
  margin-right: 0.625rem;
}

.ods-pl-15 {
  padding-left: 0.9375rem;
}

.ods-pr-15 {
  padding-right: 0.9375rem;
}

.ods-px-15 {
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
}

.ods-ml-15 {
  margin-left: 0.9375rem;
}

.ods-mr-15 {
  margin-right: 0.9375rem;
}

.ods-mx-15 {
  margin-left: 0.9375rem;
  margin-right: 0.9375rem;
}

.ods-pl-20 {
  padding-left: 1.25rem;
}

.ods-pr-20 {
  padding-right: 1.25rem;
}

.ods-px-20 {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.ods-ml-20 {
  margin-left: 1.25rem;
}

.ods-mr-20 {
  margin-right: 1.25rem;
}

.ods-mx-20 {
  margin-left: 1.25rem;
  margin-right: 1.25rem;
}

.ods-pl-25 {
  padding-left: 1.5625rem;
}

.ods-pr-25 {
  padding-right: 1.5625rem;
}

.ods-px-25 {
  padding-left: 1.5625rem;
  padding-right: 1.5625rem;
}

.ods-ml-25 {
  margin-left: 1.5625rem;
}

.ods-mr-25 {
  margin-right: 1.5625rem;
}

.ods-mx-25 {
  margin-left: 1.5625rem;
  margin-right: 1.5625rem;
}

.ods-pl-30 {
  padding-left: 1.875rem;
}

.ods-pr-30 {
  padding-right: 1.875rem;
}

.ods-px-30 {
  padding-left: 1.875rem;
  padding-right: 1.875rem;
}

.ods-ml-30 {
  margin-left: 1.875rem;
}

.ods-mr-30 {
  margin-right: 1.875rem;
}

.ods-mx-30 {
  margin-left: 1.875rem;
  margin-right: 1.875rem;
}

.ods-pl-35 {
  padding-left: 2.1875rem;
}

.ods-pr-35 {
  padding-right: 2.1875rem;
}

.ods-px-35 {
  padding-left: 2.1875rem;
  padding-right: 2.1875rem;
}

.ods-ml-35 {
  margin-left: 2.1875rem;
}

.ods-mr-35 {
  margin-right: 2.1875rem;
}

.ods-mx-35 {
  margin-left: 2.1875rem;
  margin-right: 2.1875rem;
}

.ods-pl-40 {
  padding-left: 2.5rem;
}

.ods-pr-40 {
  padding-right: 2.5rem;
}

.ods-px-40 {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.ods-ml-40 {
  margin-left: 2.5rem;
}

.ods-mr-40 {
  margin-right: 2.5rem;
}

.ods-mx-40 {
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}

.ods-pl-45 {
  padding-left: 2.8125rem;
}

.ods-pr-45 {
  padding-right: 2.8125rem;
}

.ods-px-45 {
  padding-left: 2.8125rem;
  padding-right: 2.8125rem;
}

.ods-ml-45 {
  margin-left: 2.8125rem;
}

.ods-mr-45 {
  margin-right: 2.8125rem;
}

.ods-mx-45 {
  margin-left: 2.8125rem;
  margin-right: 2.8125rem;
}

.ods-pl-50 {
  padding-left: 3.125rem;
}

.ods-pr-50 {
  padding-right: 3.125rem;
}

.ods-px-50 {
  padding-left: 3.125rem;
  padding-right: 3.125rem;
}

.ods-ml-50 {
  margin-left: 3.125rem;
}

.ods-mr-50 {
  margin-right: 3.125rem;
}

.ods-mx-50 {
  margin-left: 3.125rem;
  margin-right: 3.125rem;
}

.ods-pl-55 {
  padding-left: 3.4375rem;
}

.ods-pr-55 {
  padding-right: 3.4375rem;
}

.ods-px-55 {
  padding-left: 3.4375rem;
  padding-right: 3.4375rem;
}

.ods-ml-55 {
  margin-left: 3.4375rem;
}

.ods-mr-55 {
  margin-right: 3.4375rem;
}

.ods-mx-55 {
  margin-left: 3.4375rem;
  margin-right: 3.4375rem;
}

.ods-pl-60 {
  padding-left: 3.75rem;
}

.ods-pr-60 {
  padding-right: 3.75rem;
}

.ods-px-60 {
  padding-left: 3.75rem;
  padding-right: 3.75rem;
}

.ods-ml-60 {
  margin-left: 3.75rem;
}

.ods-mr-60 {
  margin-right: 3.75rem;
}

.ods-mx-60 {
  margin-left: 3.75rem;
  margin-right: 3.75rem;
}

.ods-m-0 {
  margin: 0px !important;
}

.ods-p-0 {
  padding: 0px !important;
}

.ods-m-5 {
  margin: 0.3125rem;
}

.ods-p-5 {
  padding: 0.3125rem;
}

.ods-m-10 {
  margin: 0.625rem;
}

.ods-p-10 {
  padding: 0.625rem;
}

.ods-m-15 {
  margin: 0.9375rem;
}

.ods-p-15 {
  padding: 0.9375rem;
}

.ods-m-20 {
  margin: 1.25rem;
}

.ods-p-20 {
  padding: 1.25rem;
}

.ods-m-25 {
  margin: 1.5625rem;
}

.ods-p-25 {
  padding: 1.5625rem;
}

.ods-m-30 {
  margin: 1.875rem;
}

.ods-p-30 {
  padding: 1.875rem;
}

.ods-m-35 {
  margin: 2.1875rem;
}

.ods-p-35 {
  padding: 2.1875rem;
}

.ods-m-40 {
  margin: 2.5rem;
}

.ods-p-40 {
  padding: 2.5rem;
}

.ods-m-45 {
  margin: 2.8125rem;
}

.ods-p-45 {
  padding: 2.8125rem;
}

.ods-m-50 {
  margin: 3.125rem;
}

.ods-p-50 {
  padding: 3.125rem;
}

.ods-m-55 {
  margin: 3.4375rem;
}

.ods-p-55 {
  padding: 3.4375rem;
}

.ods-m-60 {
  margin: 3.75rem;
}

.ods-p-60 {
  padding: 3.75rem;
}

.col-md-4 {
  z-index: 3;
}

body:not(.has-isi-side-bar) .ods-col {
  flex: 0 0 100% !important;
  width: 100% !important;
  max-width: 100% !important;
  position: relative;
  min-height: 0.0625rem;
  padding-right: 0.9375rem;
  padding-left: 0.9375rem;
}

body:not(.has-isi-side-bar) .ods-m-auto {
  margin: 0 auto 0 auto;
}

body:not(.has-isi-side-bar) .ods-flex-justify-content-center {
  justify-content: center;
  flex-wrap: wrap;
  display: flex;
}

body.has-isi-side-bar .ods-col-6 {
  flex: 0 0 50% !important;
  max-width: 50% !important;
}

@media (max-width: 376.98px) {
  body.has-isi-side-bar .ods-col-xs-7 {
    flex: 0 0 58.33333% !important;
    max-width: 58.33333% !important;
  }

  body.has-isi-side-bar .ods-col-xs-5 {
    flex: 0 0 41.66667% !important;
    max-width: 41.66667% !important;
  }
}

@media (max-width: 768.98px) {
  body.has-isi-side-bar .ods-col-sm-7 {
    flex: 0 0 58.33333% !important;
    max-width: 58.33333% !important;
  }

  body.has-isi-side-bar .ods-col-sm-5 {
    flex: 0 0 41.66667% !important;
    max-width: 41.66667% !important;
  }
}

/*! End Functionalities of internal spacing/grid */
html {
  overflow: visible;
}

body {
  color: #fff;
  background: #2e2d2e;
  font-size: 18px;
  line-height: 1.33;
}

#page-container {
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
  color: #fff;
  font-size: 0.75rem;
  line-height: 1;
  margin: 0;
}

.h1, .h2, .h3, .h4, .h5 {
  display: inline-block;
}

.h1 {
  display: inline-block;
  width: 100%;
  position: relative;
  font-size: 2.1875rem;
  font-weight: normal;
  line-height: 1.2;
  text-align: center;
  color: #9ae51a;
  padding-bottom: 20px;
  margin-bottom: 18px;
}

.h1::after {
  content: '';
  display: block;
  width: 94%;
  left: 3%;
  height: 3px;
  position: absolute;
  bottom: 0;
  background: #ff5e4d;
}

@media (min-width: 992px) {
  .h1 {
    margin-bottom: 15px;
  }

  .h1::after {
    width: calc(100% - 6px);
    left: 2px;
  }
}

@media (min-width: 769px) {
  .h1 {
    font-size: 2.8125rem;
    line-height: 1.02;
    width: auto;
  }
}

.h1 sup {
  font-size: 0;
  position: relative;
}

.h1 sup::before {
  font-size: 2.1875rem;
}

.h1 sup:first-child::before {
  content: '\201C';
  position: absolute;
  top: -16px;
  left: -14px;
}

@media (min-width: 769px) {
  .h1 sup:first-child::before {
    top: -21px;
    left: -19px;
  }
}

.h1 sup:last-child::before {
  content: '\201D';
  position: absolute;
  top: -16px;
  left: -1px;
}

@media (min-width: 769px) {
  .h1 sup:last-child::before {
    top: -21px;
  }
}

@media (min-width: 769px) {
  .h1 sup::before {
    font-size: 2.8125rem;
  }
}

.h2 {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.1;
  color: #fff;
}

@media (min-width: 769px) {
  .h2 {
    font-size: 2.375rem;
    line-height: 1.21;
  }
}

.h3 {
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.67;
  letter-spacing: 0.045rem;
  color: #ff5e4d;
}

@media (min-width: 769px) {
  .h3 {
    line-height: 1.44;
  }
}

.h4 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.08;
  color: #fff;
}

.h5 {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.2;
  color: #9ae51a;
}

a {
  color: #ff5e4d;
  text-decoration: underline;
}

a:hover, a:focus, a:active {
  color: #c6c6c6;
}

a:disabled {
  color: #7c7878;
}

hr {
  margin: 10px auto 19px;
  border-top: 3px solid #ff5e4d;
  max-width: 90%;
}

@media (min-width: 769px) {
  hr {
    margin-top: 19px;
    margin-bottom: 36px;
  }
}

.editor--footnotes {
  font-family: "SourceSansPro", "Arial", "Helvetica", sans-serif;
  font-size: 0.75rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.42;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
}

.region-html-deferred > * {
  display: none;
}

.subhead-bold {
  font-family: "SourceSansPro", "Arial", "Helvetica", sans-serif;
  font-weight: 500;
}

.z-index-1 {
  z-index: 1;
}

.z-index-2 {
  z-index: 2;
}

.z-index-3 {
  z-index: 3;
}

body .media--loading:not([data-animation])::before,
body .is-b-loading:not([data-animation])::before {
  background: rgba(255, 255, 255, 0.1);
}

.tooltip {
  z-index: 299 !important;
}

.js--modal-open {
  overflow: hidden;
}

.modal-open {
  overflow: visible !important;
}

#externalLinkPopupModal {
  z-index: 2147483647;
}

.before-you-go-dialog-form {
  z-index: 2147483647 !important;
}

#onetrust-consent-sdk .onetrust-pc-dark-filter.ot-fade-in {
  z-index: 2147483645;
}

#onetrust-consent-sdk #onetrust-pc-sdk {
  z-index: 2147483646;
}

#section-header {
  font-family: "SourceSansPro", "Arial", "Helvetica", sans-serif;
  background: #2e2d2e;
  position: relative;
  z-index: 501;
}

.region--header-1-2 {
  height: 54px;
  background-color: #2e2d2e;
  position: relative;
}

@media (min-width: 1310px) {
  .region--header-1-2 {
    height: 104px;
    border-bottom: 1px solid #DFE3E6;
  }
}

.region--header-1-2 .region-header-1 {
  position: relative;
}

@media (min-width: 1310px) {
  .region--header-1-2 .region-header-1 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: normal;
    align-content: normal;
    width: 100%;
    max-height: 104px;
  }
}

.region--header-1-2 .region-header-1 .block-content-otsuka-logo-desktop {
  display: none;
}

@media (min-width: 1310px) {
  .region--header-1-2 .region-header-1 .block-content-otsuka-logo-desktop {
    display: block;
    width: 215px;
    margin-top: 30px;
    position: relative;
    z-index: 50;
  }

  .region--header-1-2 .region-header-1 .block-content-otsuka-logo-desktop a {
    display: block;
  }
}

.region--header-1-2 .region-header-2 {
  margin-left: auto;
}

footer {
  background: #2e2d2e;
  padding: 30px 8px 50px;
  color: #fff;
  font-size: 18px;
  text-align: center;
}

@media (min-width: 769px) {
  footer {
    text-align: left;
  }
}

@media (min-width: 992px) {
  footer {
    padding: 23px 0 56px;
  }
}

footer a {
  color: #fff;
}

footer a:hover, footer a:active, footer a:focus {
  color: #fff;
}

footer h2 {
  font-size: 24px;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  margin: 0;
}

@media (max-width: 768.98px) {
  footer .container .row > .col-4 {
    padding-left: 0;
    padding-right: 10px;
  }

  footer .container .row > .col-4 .block-otsuka-updated-prc-code-info-block .content .field-items .field-item p {
    margin-bottom: 0;
  }

  footer .container .row > .col-8 {
    padding-left: 10px;
  }
}

@media (min-width: 577px) {
  footer .container .row > .col-4 .block-otsuka-updated-prc-code-info-block .content .field-items {
    display: flex;
  }

  footer .container .row > .col-4 .block-otsuka-updated-prc-code-info-block .content .field-items .field-item {
    padding: 0 5px;
  }
}

footer .region-footer-middle {
  margin-bottom: 30px;
}

@media (min-width: 769px) {
  footer .region-footer-middle {
    margin-bottom: 50px;
  }
}

footer .menu-footer-utility {
  display: flex;
  justify-content: center;
  line-height: 1.39;
}

@media (min-width: 769px) {
  footer .menu-footer-utility {
    justify-content: flex-start;
  }
}

footer .menu-footer-utility .menu-item:not(:last-child) {
  position: relative;
  padding-right: 12px;
  margin-right: 12px;
}

footer .menu-footer-utility .menu-item:not(:last-child)::after {
  content: '';
  position: absolute;
  top: 15%;
  right: 0;
  width: 1px;
  height: 75%;
  background: #fff;
}

footer .region-footer-5 {
  padding-bottom: 30px;
}

@media (min-width: 769px) {
  footer .region-footer-5 {
    padding-top: 15px;
    padding-bottom: 35px;
    justify-content: flex-end;
    height: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
}

footer .menu-social-links-footer .menu-item:not(:first-child) {
  margin-left: 20px;
}

footer .menu-social-links-footer a {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  width: 47px;
  height: 47px;
  font-size: 0;
  transition: .1s;
}

footer .menu-social-links-footer a:hover {
  transform: scale(1.05);
}

footer .menu-social-links-footer a svg {
  display: none;
}

footer .menu-social-links-footer a.link-fb {
  background-image: url(../../../themes/site/themes/custom/otsuka_jynarque_adpkd_2021/assets/build/img/follow-us-facebook.svg);
}

footer .menu-social-links-footer a.link-inst {
  background-image: url(../../../themes/site/themes/custom/otsuka_jynarque_adpkd_2021/assets/build/img/follow-us-instagram.svg);
}

footer #block-otsuka-jynarque-adpkd-2021-sociallinksfooter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer #block-otsuka-jynarque-adpkd-2021-sociallinksfooter h2 {
  margin: 0 0 12px 0;
}

@media (min-width: 769px) {
  footer #block-otsuka-jynarque-adpkd-2021-sociallinksfooter {
    flex-direction: row;
  }

  footer #block-otsuka-jynarque-adpkd-2021-sociallinksfooter h2 {
    margin: 0 36px 0 0;
  }
}

footer .region-footer-6 {
  margin-bottom: 23px;
}

@media (min-width: 992px) {
  footer .region-footer-6 {
    margin-bottom: 0;
  }
}

footer #block-otsuka-jynarque-adpkd-2021-oapilogofooter a {
  display: block;
}

footer #block-otsuka-jynarque-adpkd-2021-oapilogofooter img {
  width: 285px;
  margin: 0 auto;
}

@media (min-width: 769px) {
  footer #block-otsuka-jynarque-adpkd-2021-oapilogofooter img {
    max-width: 240px;
    margin: 0;
  }
}

footer .region-footer-7 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  line-height: 1.33;
}

@media (max-width: 768.98px) {
  footer .region-footer-7 .block-copyright-text {
    width: 100%;
    flex: 1 100%;
  }
}

footer .region-footer-7 .new-year {
  display: none;
}

footer .region-footer-7 .old-year {
  display: inline;
}

.custom--support--ambassador-videos footer .region-footer-7 .new-year,
.custom--support--living-with-adpkd footer .region-footer-7 .new-year,
.custom--support--find-a-doctor footer .region-footer-7 .new-year,
.custom--support--downloadable-resources footer .region-footer-7 .new-year,
.custom--support--foundation-advocacy-groups footer .region-footer-7 .new-year {
  display: inline;
}

.custom--support--ambassador-videos footer .region-footer-7 .old-year,
.custom--support--living-with-adpkd footer .region-footer-7 .old-year,
.custom--support--find-a-doctor footer .region-footer-7 .old-year,
.custom--support--downloadable-resources footer .region-footer-7 .old-year,
.custom--support--foundation-advocacy-groups footer .region-footer-7 .old-year {
  display: none;
}

@media (min-width: 769px) {
  footer .region-footer-7 {
    flex-direction: row;
    justify-content: space-between;
  }
}

footer .region-footer-7::after {
  display: none;
}

footer .region-footer-7 p {
  margin: 0;
}

@media (max-width: 768.98px) {
  footer .region-footer-7 p.prc-date, footer .region-footer-7 p.prc-code {
    width: 50%;
    flex: 1 50%;
    margin-top: 24px;
  }

  footer .region-footer-7 p.prc-date {
    text-align: left;
  }

  footer .region-footer-7 p.prc-code {
    text-align: right;
  }
}

/*# sourceMappingURL=global.css.map */
