.half-content-cards-with-buttons {
  background-color: #ffffff;
}

.half-content-cards-with-buttons > .row {
  min-width: 100%;
}

.half-content-cards-with-buttons .common-border {
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 0.25rem;
}

.half-content-cards-with-buttons .card {
  display: grid;
  grid-row-gap: 1.875rem;
  grid-template-rows: 0.5fr auto;
  height: 100%;
}

.half-content-cards-with-buttons .card .photo__one {
  background-image: url("../../../themes/site/themes/custom/otsuka_jynarque_adpkd_2021/assets/build/css/component/webp/photo_of_pills.html");
  height: 11.25rem;
  width: 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.half-content-cards-with-buttons .card .photo__two {
  background-image: url("../../../themes/site/themes/custom/otsuka_jynarque_adpkd_2021/assets/build/css/component/webp/doctor_with_mobile.html");
  height: 11.25rem;
  width: 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.half-content-cards-with-buttons .card .photo__three {
  background-image: url("../../../themes/site/themes/custom/otsuka_jynarque_adpkd_2021/assets/build/css/component/webp/photo_test_tubes.html");
  height: 11.25rem;
  width: 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.half-content-cards-with-buttons .card .media {
  max-height: 9.0625rem;
}

.half-content-cards-with-buttons .card .media img {
  background-image: url("../../../themes/site/themes/custom/otsuka_jynarque_adpkd_2021/assets/build/css/component/webp/index.html");
  height: 5.0625rem;
  width: 5.0625rem;
  max-width: 5.0625rem;
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: auto;
  margin-left: auto;
}

.half-content-cards-with-buttons .card .card-title h1 {
  font-size: 1.5rem;
  font-family: "SourceSansPro", "Arial", "Helvetica", sans-serif;
  font-weight: 500;
}

.half-content-cards-with-buttons .card .card-title h2 {
  font-size: 1.5rem;
  font-family: "SourceSansPro", "Arial", "Helvetica", sans-serif;
  font-weight: 500;
}

.half-content-cards-with-buttons .card .card-title h3 {
  font-size: 1.5rem;
  font-family: "SourceSansPro", "Arial", "Helvetica", sans-serif;
  font-weight: 500;
}

.half-content-cards-with-buttons .card .card-title h4 {
  font-size: 1.5rem;
  font-family: "SourceSansPro", "Arial", "Helvetica", sans-serif;
  font-weight: 500;
}

.half-content-cards-with-buttons .card .card-title h5 {
  font-size: 1.5rem;
  font-family: "SourceSansPro", "Arial", "Helvetica", sans-serif;
  font-weight: 500;
}

.half-content-cards-with-buttons .card .card-title h6 {
  font-size: 1.5rem;
  font-family: "SourceSansPro", "Arial", "Helvetica", sans-serif;
  font-weight: 500;
}

.half-content-cards-with-buttons .call-to-action__card.cta-with-photo img {
  width: 100%;
  max-width: 100%;
  height: auto;
  max-height: inherit;
}

.half-content-cards-with-buttons .row .call-to-action:last-child {
  margin-right: unset;
}

.half-content-cards-with-buttons .anchor-button-container {
  padding-left: 0.9375rem;
  display: flex;
  margin-top: auto;
}

.half-content-cards-with-buttons .field--link-wrapper-on .card:hover {
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
}

.custom--background-transparent .half-content-cards-with-buttons {
  background-color: transparent;
}

/*# sourceMappingURL=half-content-cards-with-buttons.css.map */
