.des-container .disease-education-slider {
  display: flex;
  align-items: center;
  text-align: left;
}

.disease-education-slider .scene-wrapper {
  position: relative;
  width: 810px;
  max-width: 100%;
  height: 450px;
  background: transparent;
  margin: 0 auto;
  overflow: hidden;
  transition: opacity 1s;
}

.disease-education-slider .scene {
  position: relative;
  width: 100%;
  min-width: 810px;
  height: 100%;
}

.disease-education-slider .des-pic {
  position: absolute;
  bottom: 140px;
  opacity: 0;
}

.disease-education-slider .des-pic[id^=desPic1_] {
  left: 120px;
  width: 90px;
  height: 151px;
}

.disease-education-slider .des-pic[id^=desPic2_] {
  left: 296px;
  width: 132px;
  height: 216px;
}

.disease-education-slider .des-pic[id^=desPic3_] {
  left: 510px;
  width: 173px;
  height: 279px;
}

.disease-education-slider .des-pic img {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: auto;
}

.disease-education-slider .des-line-wrapper .des-line {
  overflow: inherit;
}

.disease-education-slider .des-line-wrapper .des-line .des-line--template,
.disease-education-slider .des-line-wrapper .des-line .des-line--arrow {
  visibility: hidden;
}

.disease-education-slider .des-line-wrapper .des-line .des-line--path {
  visibility: hidden;
}

.disease-education-slider .des-line-wrapper[id^=desLineWrapper1_] {
  position: absolute;
  bottom: 61px;
  left: 20px;
}

.disease-education-slider .des-line-wrapper[id^=desLineWrapper2_] {
  position: absolute;
  bottom: 204px;
  left: 20px;
}

.disease-education-slider .des-text-under-line {
  font-size: 16px;
  position: absolute;
  left: 25px;
}

@media (max-width: 768.98px) {
  .disease-education-slider .des-text-under-line {
    font-size: 18px;
  }
}

@media all and (max-width: 575px) {
  .disease-education-slider .des-text-under-line {
    font-size: 20px;
  }
}

.disease-education-slider .des-text-under-line.des-text-under-line-first {
  bottom: 372px;
}

@media all and (max-width: 575px) {
  .disease-education-slider .des-text-under-line.des-text-under-line-first {
    bottom: 369px;
  }
}

.disease-education-slider .des-text-under-line.des-text-under-line-second {
  bottom: 240px;
}

@media all and (max-width: 575px) {
  .disease-education-slider .des-text-under-line.des-text-under-line-second {
    bottom: 237px;
  }
}

.disease-education-slider .timeline-wrapper {
  position: absolute;
  bottom: 60px;
  left: 0;
  width: 100%;
  z-index: 2;
}

.disease-education-slider .timeline-wrapper #timeRange {
  opacity: 0;
  width: 100%;
}

.disease-education-slider .timeline-text {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  box-sizing: border-box;
  text-align: center;
  z-index: 1;
}

@media (max-width: 768.98px) {
  .disease-education-slider .timeline-text {
    font-size: 14px;
  }
}

@media all and (max-width: 575px) {
  .disease-education-slider .timeline-text {
    font-size: 12px;
  }
}

.disease-education-slider sup, .disease-education-slider sub {
  font-size: 12px;
}

.custom--gs-description {
  text-align: center;
  font-size: 1rem;
  line-height: 1.5;
  margin-top: 20px;
}

@media (min-width: 769px) {
  .custom--gs-description {
    font-size: 1.125rem;
  }
}

@media (min-width: 992px) {
  .custom--gs-description {
    font-size: 1.5rem;
    margin-top: 30px;
    line-height: 1.92;
  }
}

.custom--gs-description p {
  margin-bottom: 0;
}

@keyframes rangeslider-pulsation {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

.rangeslider__handle {
  animation-name: rangeslider-pulsation;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

input[type="range"]:focus + .rangeslider .rangeslider__handle {
  animation: none;
}

input[type="range"].pulsation-disabled + .rangeslider .rangeslider__handle {
  animation: none;
}

/*# sourceMappingURL=block.gs-animation.css.map */
