.node--type-general-purpose-page.custom--support--living-with-adpkd .body-content p:last-child {
  text-align: center;
}

@media (min-width: 992px) {
  .node--type-general-purpose-page.custom--support--living-with-adpkd .body-content p:last-child {
    margin-bottom: 39px;
  }
}

.node--type-general-purpose-page.custom--support--living-with-adpkd .custom--red-border-block {
  margin: 5px 10px 40px 10px;
}

@media (min-width: 992px) {
  .node--type-general-purpose-page.custom--support--living-with-adpkd .custom--red-border-block {
    max-width: 760px;
    margin: 45px auto 35px;
    text-align: center;
  }
}

.node--type-general-purpose-page.custom--support--living-with-adpkd .custom--red-border-rounded-block.paragraph {
  margin: 0 10px;
  padding: 15px;
}

@media (min-width: 992px) {
  .node--type-general-purpose-page.custom--support--living-with-adpkd .custom--red-border-rounded-block.paragraph {
    max-width: 1010px;
    margin: 0 auto;
    padding: 40px 50px;
  }
}

.node--type-general-purpose-page.custom--support--living-with-adpkd .custom--red-border-rounded-block.paragraph p {
  line-height: 1.46;
  margin-bottom: 40px;
}

.node--type-general-purpose-page.custom--support--living-with-adpkd .custom--red-border-rounded-block.paragraph p:last-of-type {
  margin-bottom: 15px;
}

.node--type-general-purpose-page.custom--support--living-with-adpkd .footnotes p {
  margin-bottom: 0;
}

.node--type-general-purpose-page.custom--support--living-with-adpkd .footnotes p .editor--footnotes {
  padding: 25px 0 0;
  display: block;
  text-align: center;
}

@media (min-width: 992px) {
  .node--type-general-purpose-page.custom--support--living-with-adpkd .footnotes p .editor--footnotes {
    padding: 33px 0 0;
  }
}

.node--type-general-purpose-page.custom--support--living-with-adpkd .custom--twocol-cta .cta-item-1 .media--image img {
  width: 68px;
}

.node--type-general-purpose-page.custom--support--living-with-adpkd .custom--twocol-cta .cta-item-2 .media--image img {
  width: 52px;
}

.node--type-general-purpose-page.custom--support--living-with-adpkd .custom--listing-view .listing-item .media--image img {
  width: 128px;
}

.node--type-general-purpose-page.custom--support--living-with-adpkd .custom--listing-view .listing-item:nth-child(2) .media--image img {
  width: 95px;
}

.node--type-general-purpose-page.custom--support--living-with-adpkd .custom--listing-view .listing-item:nth-child(3) .media--image img {
  width: 51px;
}

.node--type-general-purpose-page.custom--support--living-with-adpkd .custom--listing-view .listing-item:nth-child(4) .media--image img {
  width: 102px;
}

.node--type-general-purpose-page.custom--support--living-with-adpkd .custom--listing-view .listing-item:nth-child(5) .media--image img {
  width: 72px;
}

.node--type-general-purpose-page.custom--support--living-with-adpkd .custom--listing-view .listing-item:nth-child(6) .media--image img {
  width: 128px;
}

.node--type-general-purpose-page.custom--support--living-with-adpkd .custom--listing-view .listing-item:nth-child(7) .media--image img {
  width: 128px;
}

#paragraph-3756 h2 {
  text-align: center;
}

/*# sourceMappingURL=support-and-resources.living-with-adpkd.css.map */
