@media (min-width: 992px) {
  .webform-submission-before-you-go-popup-form-form.webform-submission-form {
    max-width: none;
  }
}

.webform-submission-before-you-go-popup-form-form .editor--footnotes {
  color: #2e2d2e;
  display: block;
}

.webform-submission-before-you-go-popup-form-form .js-form-type-processed-text {
  font-size: 0.75rem;
}

.webform-submission-before-you-go-popup-form-form .js-form-type-processed-text p {
  margin-bottom: 0;
}

.webform-submission-before-you-go-popup-form-form .js-form-type-processed-text:nth-child(1) span.h3 {
  font-size: 1.375rem;
  line-height: 1.5rem;
}

.webform-submission-before-you-go-popup-form-form .js-form-type-processed-text:nth-child(1) p {
  font-size: 1.1875rem;
}

.webform-submission-before-you-go-popup-form-form .js-form-type-processed-text:nth-child(2) {
  margin-bottom: 0;
}

.webform-submission-before-you-go-popup-form-form .js-form-type-processed-text:nth-child(2) p {
  margin-bottom: 0;
  font-size: 0.9375rem;
}

.webform-submission-before-you-go-popup-form-form .js-form-type-processed-text:nth-child(2) p:nth-child(2) {
  font-size: 0.75rem;
}

.webform-submission-before-you-go-popup-form-form .js-form-type-processed-text:nth-child(2) p + p {
  margin-top: 0.5625rem;
}

.webform-submission-before-you-go-popup-form-form .js-form-type-processed-text.processed-text-02 p {
  font-size: 0.75rem;
  line-height: 1.42;
}

.webform-submission-before-you-go-popup-form-form .js-form-type-processed-text.processed-text-02 p strong {
  font-size: 0.9375rem;
  line-height: 1.2;
  margin-bottom: 10px;
  display: block;
}

.webform-submission-before-you-go-popup-form-form .fieldgroup a:hover, .webform-submission-before-you-go-popup-form-form .fieldgroup a:focus, .webform-submission-before-you-go-popup-form-form .fieldgroup a:active,
.webform-submission-before-you-go-popup-form-form .js-form-item a:hover,
.webform-submission-before-you-go-popup-form-form .js-form-item a:focus,
.webform-submission-before-you-go-popup-form-form .js-form-item a:active {
  color: #707070;
}

.webform-submission-before-you-go-popup-form-form fieldset.form-composite {
  margin-bottom: 0.9375rem;
}

@media (min-width: 992px) {
  .webform-submission-before-you-go-popup-form-form fieldset.form-composite {
    margin-bottom: 0.5625rem;
  }

  .webform-submission-before-you-go-popup-form-form fieldset.form-composite .fieldset-wrapper {
    display: block;
  }
}

.webform-submission-before-you-go-popup-form-form fieldset.form-composite.error {
  max-width: 100%;
}

.webform-submission-before-you-go-popup-form-form fieldset.form-composite.error .fieldset-wrapper {
  border: none;
  padding: 0;
}

.webform-submission-before-you-go-popup-form-form fieldset.form-composite.error .fieldset-wrapper .alert {
  margin-left: 0;
  margin-bottom: 0;
}

.webform-submission-before-you-go-popup-form-form fieldset.form-composite.error div.form-item {
  width: auto !important;
}

.webform-submission-before-you-go-popup-form-form span.fieldset-legend,
.webform-submission-before-you-go-popup-form-form .email-agree-text {
  font-size: 0.75rem;
  display: block;
}

.webform-submission-before-you-go-popup-form-form div.form-item {
  max-width: 100%;
  width: 100%;
  margin-bottom: 0.625rem;
}

.webform-submission-before-you-go-popup-form-form div.form-item label {
  font-size: 0.6875rem;
  margin-bottom: 0;
  line-height: 15px;
  height: auto;
  display: block;
  width: auto;
}

.webform-submission-before-you-go-popup-form-form div.form-item label.option {
  cursor: pointer;
  display: inline-block;
  width: auto;
  vertical-align: middle;
}

.webform-submission-before-you-go-popup-form-form div.form-item input {
  margin-top: 0;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 0;
  border-color: #707070;
  max-height: 2rem;
  font-size: 1rem;
}

.webform-submission-before-you-go-popup-form-form div.form-item input.form-checkbox {
  height: 9px;
  width: 9px;
  min-height: 9px;
  min-width: 9px;
  display: inline-block;
  margin-right: 0.3125rem;
}

.webform-submission-before-you-go-popup-form-form div.form-item input.error {
  background-color: rgba(255, 0, 0, 0.15);
}

.webform-submission-before-you-go-popup-form-form div.form-item .after-img::after {
  content: '';
  display: block;
  height: 14rem;
  width: 13.9375rem;
  background-image: url("../../../themes/site/themes/custom/otsuka_jynarque_adpkd_2021/assets/build/img/sign-up-resource-image.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  margin: 0 auto;
}

@media (min-width: 992px) {
  .webform-submission-before-you-go-popup-form-form div.form-item .after-img::after {
    display: none;
  }
}

.webform-submission-before-you-go-popup-form-form .js-form-type-radio input[type='radio'], .webform-submission-before-you-go-popup-form-form .js-form-type-radio input[type='checkbox'],
.webform-submission-before-you-go-popup-form-form .js-form-type-checkbox input[type='radio'],
.webform-submission-before-you-go-popup-form-form .js-form-type-checkbox input[type='checkbox'] {
  position: absolute;
  left: 0;
  top: 0;
  width: 1px;
  height: 1px;
  opacity: 0;
  z-index: -1;
}

.webform-submission-before-you-go-popup-form-form .js-form-type-radio input[type='radio']:focus + label, .webform-submission-before-you-go-popup-form-form .js-form-type-radio input[type='checkbox']:focus + label,
.webform-submission-before-you-go-popup-form-form .js-form-type-checkbox input[type='radio']:focus + label,
.webform-submission-before-you-go-popup-form-form .js-form-type-checkbox input[type='checkbox']:focus + label {
  outline: 0.2rem solid rgba(89, 181, 227, 0.7);
  outline-offset: 2px;
}

.webform-submission-before-you-go-popup-form-form .js-form-type-radio .option,
.webform-submission-before-you-go-popup-form-form .js-form-type-checkbox .option {
  position: relative;
  padding-left: 1.0625rem;
}

.webform-submission-before-you-go-popup-form-form .js-form-type-radio .option:before,
.webform-submission-before-you-go-popup-form-form .js-form-type-checkbox .option:before {
  content: '';
  display: inline-block;
  width: 9px;
  height: 9px;
  border-radius: 100%;
  border: 1px solid #707070;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.webform-submission-before-you-go-popup-form-form .js-form-type-radio .option::after,
.webform-submission-before-you-go-popup-form-form .js-form-type-checkbox .option::after {
  content: '';
  display: inline-block;
  width: 5px;
  height: 5px;
  border-radius: 100%;
  background-color: #707070;
  opacity: 0;
  transition: opacity .25s linear;
  position: absolute;
  left: 2px;
  top: 50%;
  transform: translateY(-50%);
}

.webform-submission-before-you-go-popup-form-form .js-form-type-radio input[type='radio']:checked ~ .option::after,
.webform-submission-before-you-go-popup-form-form .js-form-type-checkbox input[type='radio']:checked ~ .option::after {
  opacity: 1;
}

.webform-submission-before-you-go-popup-form-form .js-form-type-checkbox .option:before {
  border-radius: 2px;
}

.webform-submission-before-you-go-popup-form-form .js-form-type-checkbox .option::after {
  content: '\2713';
  width: 5px;
  height: 5px;
  border-radius: unset;
  background: transparent;
  color: #fff;
  top: 1px;
  left: 2px;
}

.webform-submission-before-you-go-popup-form-form .js-form-type-checkbox input[type='checkbox']:checked ~ .option::before {
  background: #707070;
}

.webform-submission-before-you-go-popup-form-form .js-form-type-checkbox input[type='checkbox']:checked ~ .option::after {
  opacity: 1;
}

.webform-submission-before-you-go-popup-form-form fieldset.has-error .fieldset-wrapper {
  display: flex;
  flex-direction: column;
}

.webform-submission-before-you-go-popup-form-form fieldset.has-error .fieldset-wrapper .alert {
  margin-bottom: 0;
  left: 0;
  font-size: 0.75rem;
  order: 2;
  top: -5px;
}

.webform-submission-before-you-go-popup-form-form fieldset.has-error .fieldset-wrapper .alert.alert-danger strong {
  font-size: 0.75rem;
  font-weight: 400;
  color: red;
}

.webform-submission-before-you-go-popup-form-form fieldset.has-error .fieldset-wrapper .js-webform-radios {
  order: 1;
}

.webform-submission-before-you-go-popup-form-form fieldset.has-error .option:before {
  background-color: rgba(255, 0, 0, 0.15);
  border: 1px solid red;
}

.webform-submission-before-you-go-popup-form-form .js-form-type-checkbox.form-item--error .option:before {
  background-color: rgba(255, 0, 0, 0.15);
  border: 1px solid red;
}

.webform-submission-before-you-go-popup-form-form .radio div.form-item {
  width: auto;
  margin-bottom: 0;
}

.webform-submission-before-you-go-popup-form-form .form-item-agree-email-communication {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.webform-submission-before-you-go-popup-form-form .form-item-agree-email-communication input.form-checkbox {
  margin-top: 3px;
}

.webform-submission-before-you-go-popup-form-form .form-item-agree-email-communication label.option {
  font-size: 0.75rem;
}

.webform-submission-before-you-go-popup-form-form .ui-widget-content {
  border: none;
}

@media (min-width: 992px) {
  .webform-submission-before-you-go-popup-form-form > .form-group {
    margin-top: 1rem;
    padding-left: 17.6875rem;
    position: relative;
  }

  .webform-submission-before-you-go-popup-form-form > .form-group::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    height: 14rem;
    width: 13.9375rem;
    background-image: url("../../../themes/site/themes/custom/otsuka_jynarque_adpkd_2021/assets/build/img/sign-up-resource-image.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    margin: 0 auto;
  }
}

@media (min-width: 992px) and (min-width: 992px) {
  .webform-submission-before-you-go-popup-form-form > .form-group .half-width {
    max-width: calc(49% - 15px);
    display: inline-block;
  }

  .webform-submission-before-you-go-popup-form-form > .form-group .half-width:nth-child(3) {
    margin-left: 0.9375rem;
  }
}

.webform-submission-before-you-go-popup-form-form .form-item--error-message {
  font-size: 0.75rem;
}

.webform-submission-before-you-go-popup-form-form .webform-confirmation {
  text-align: center;
}

.webform-submission-before-you-go-popup-form-form .alert-dismissible,
.webform-submission-before-you-go-popup-form-form .webform-confirmation__back {
  display: none;
}

.webform-submission-before-you-go-popup-form-form .processed-text-01 {
  text-align: center;
}

.ui-dialog {
  border-radius: 0;
  padding: 1.6875rem 0.875rem;
  border: none !important;
  font-family: "SourceSansPro", "Arial", "Helvetica", sans-serif;
}

@media (min-width: 992px) {
  .ui-dialog {
    padding: 2.25rem;
  }
}

.ui-dialog.webform-confirmation-modal .ui-dialog-titlebar-close {
  margin: 0;
  padding: 0;
  top: 0;
  right: 0;
  background: none;
  z-index: 999;
  position: relative;
  float: right;
  width: 30px;
  height: 30px;
}

.ui-dialog.webform-confirmation-modal .ui-dialog-titlebar-close::after {
  position: absolute;
  top: 4px;
  left: 4px;
}

@media (min-width: 992px) {
  .ui-dialog.webform-confirmation-modal .ui-dialog-titlebar-close {
    position: absolute;
    top: 10px;
    right: 10px;
    float: none;
    width: 40px;
    height: 40px;
  }

  .ui-dialog.webform-confirmation-modal .ui-dialog-titlebar-close::after {
    top: 9px;
    left: 9px;
  }
}

.ui-dialog .ui-dialog-content {
  padding: 0;
}

.ui-dialog .ui-dialog-content .webform-confirmation {
  min-height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ui-dialog .ui-dialog-content .webform-confirmation .webform-confirmation__message {
  margin-bottom: 0;
}

.ui-dialog .ui-dialog-content .webform-confirmation .webform-confirmation__message h3 {
  font-size: 1.625rem;
  font-weight: bold;
  line-height: 32px;
  font-family: "SourceSansPro", "Arial", "Helvetica", sans-serif;
  text-align: center;
  margin-bottom: 42px;
  color: #000;
}

.ui-dialog .ui-dialog-titlebar {
  border: none;
  padding: 0;
}

.ui-dialog .ui-dialog-titlebar .ui-dialog-title {
  display: none;
}

.ui-dialog .ui-dialog-buttonpane {
  border-width: 0;
  margin-top: 0;
  padding-top: 0.5625rem;
}

.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
  float: none;
}

.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset .before-you-go-btn {
  font-size: 1rem;
  background-color: #9ae51a;
  border: none;
  color: #191919;
  text-decoration: none;
  transition: .2s;
  font-weight: bold;
  border-radius: 5px;
  padding: 9px 15px;
  margin: 0 auto 10px;
  display: block;
  width: auto;
  height: auto;
}

@media (min-width: 992px) {
  .ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset .before-you-go-btn {
    margin-left: 17.25rem;
    display: inline-block;
  }
}

@media (min-width: 1310px) {
  .ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset .before-you-go-btn {
    margin-bottom: 0;
  }

  .ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset .before-you-go-btn.before-you-go-continue {
    margin-left: 30px;
  }
}

.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset .before-you-go-btn:hover, .ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset .before-you-go-btn:active, .ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset .before-you-go-btn:focus {
  background-color: #bfd59b;
}

.ui-widget-overlay {
  background: rgba(0, 0, 0, 0.5);
  opacity: 1;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

/*# sourceMappingURL=webform.beforeyougo.css.map */
