.two-checkbox-columns label {
  font-family: "SourceSansPro", "Arial", "Helvetica", sans-serif;
}

.radio-inputs-with-text-input label {
  font-family: "SourceSansPro", "Arial", "Helvetica", sans-serif;
}

.radio-inputs-with-text-input .form-inline {
  padding-left: 1rem;
}

.radio-inputs-with-text-input .form-inline label {
  padding-left: 0.6875rem;
}

.radio-inputs-with-text-input input[type="text"] {
  border-left: 0;
  border-right: 0;
  border-top: 0;
}

.webform-submission-contact-us-form div.form-item, .ui-dialog div.form-item {
  width: 80%;
  max-width: 600px;
  margin-bottom: 40px;
}

.webform-submission-contact-us-form div.form-item.js-form-type-processed-text, .ui-dialog div.form-item.js-form-type-processed-text {
  width: auto;
}

.webform-submission-contact-us-form div.form-item label, .ui-dialog div.form-item label {
  height: 30px;
  width: 538px;
  color: #212529;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 30px;
}

.webform-submission-contact-us-form div.form-item input, .ui-dialog div.form-item input {
  box-sizing: border-box;
  height: 48px;
  border: 1px solid #ced4da;
  border-radius: 4px;
  background-color: #FFFFFF;
}

.webform-submission-contact-us-form div.form-item .error, .ui-dialog div.form-item .error {
  border: 1px solid red;
}

.webform-submission-contact-us-form div.form-item .form-item--error-message, .ui-dialog div.form-item .form-item--error-message {
  color: red;
}

.webform-submission-contact-us-form div.form-item .webform-email-confirm--wrapper, .ui-dialog div.form-item .webform-email-confirm--wrapper {
  margin-bottom: 40px;
}

.webform-submission-contact-us-form div.form-item.custom-control.custom-checkbox .form-item--error-message, .ui-dialog div.form-item.custom-control.custom-checkbox .form-item--error-message {
  position: relative;
  left: -25px;
}

@media (max-width: 576.98px) {
  .webform-submission-contact-us-form div.form-item, .ui-dialog div.form-item {
    width: auto;
  }
}

.webform-submission-contact-us-form .form-managed-file, .ui-dialog .form-managed-file {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column-reverse;
}

.webform-submission-contact-us-form .messages--error.file-upload-js-error, .ui-dialog .messages--error.file-upload-js-error {
  color: red;
}

.webform-submission-contact-us-form fieldset.form-composite, .ui-dialog fieldset.form-composite {
  margin-bottom: 40px;
}

.webform-submission-contact-us-form fieldset.form-item .fieldset-wrapper, .ui-dialog fieldset.form-item .fieldset-wrapper {
  flex-wrap: wrap;
  flex-direction: column-reverse;
  display: flex;
}

.webform-submission-contact-us-form fieldset.form-item .fieldset-wrapper .alert-danger, .ui-dialog fieldset.form-item .fieldset-wrapper .alert-danger {
  order: -1;
  padding: 0;
  background-color: transparent;
  border-color: transparent;
  position: relative;
  top: 42px;
  left: -15px;
}

.webform-submission-contact-us-form fieldset.form-item .fieldset-wrapper .alert-danger strong, .ui-dialog fieldset.form-item .fieldset-wrapper .alert-danger strong {
  font-weight: 100;
  color: red;
}

.webform-submission-contact-us-form fieldset.form-item .fieldset-wrapper .form-item-contact-email-mail-2, .ui-dialog fieldset.form-item .fieldset-wrapper .form-item-contact-email-mail-2 {
  order: -1;
  margin-top: 40px;
}

@media (max-width: 576.98px) {
  .webform-submission-contact-us-form fieldset.form-item .fieldset-wrapper .form-item-contact-email-mail-2, .ui-dialog fieldset.form-item .fieldset-wrapper .form-item-contact-email-mail-2 {
    width: 100%;
  }
}

.webform-submission-contact-us-form fieldset.form-item .fieldset-wrapper .form-item-contact-email-mail-1, .ui-dialog fieldset.form-item .fieldset-wrapper .form-item-contact-email-mail-1 {
  margin-bottom: 0px;
}

@media (max-width: 576.98px) {
  .webform-submission-contact-us-form fieldset.form-item .fieldset-wrapper .form-item-contact-email-mail-1, .ui-dialog fieldset.form-item .fieldset-wrapper .form-item-contact-email-mail-1 {
    width: 100%;
  }
}

.webform-submission-contact-us-form fieldset.form-item.error, .ui-dialog fieldset.form-item.error {
  width: 80%;
  max-width: 600px;
}

.webform-submission-contact-us-form fieldset.form-item.error .fieldset-wrapper, .ui-dialog fieldset.form-item.error .fieldset-wrapper {
  border: 1px solid red;
  border-radius: 5px;
  padding: 15px;
  padding-bottom: 0;
}

.webform-submission-contact-us-form fieldset.form-item.error .fieldset-wrapper div.form-item, .ui-dialog fieldset.form-item.error .fieldset-wrapper div.form-item {
  width: 100%;
}

.webform-submission-contact-us-form fieldset.form-item.error .fieldset-wrapper div.form-item .error, .ui-dialog fieldset.form-item.error .fieldset-wrapper div.form-item .error {
  border: 1px solid #ced4da;
}

@media (max-width: 576.98px) {
  .webform-submission-contact-us-form fieldset.form-item.error, .ui-dialog fieldset.form-item.error {
    width: 100%;
  }
}

.webform-submission-contact-us-form .webform-actions .btn, .ui-dialog .webform-actions .btn {
  border-radius: 20px;
}

@media (min-width: 577px) {
  .webform-submission-contact-us-form .webform-actions .btn, .ui-dialog .webform-actions .btn {
    width: 120px;
  }
}

@media (max-width: 576.98px) {
  .webform-submission-contact-us-form .webform-actions .btn, .ui-dialog .webform-actions .btn {
    width: 100%;
  }
}

.webform-submission-contact-us-form .webform-required, .ui-dialog .webform-required {
  display: none;
}

.webform-submission-contact-us-form > .captcha, .ui-dialog > .captcha {
  margin-bottom: 40px;
}

.ui-dialog {
  z-index: 999 !important;
}

.ui-dialog div.form-item {
  width: 100%;
}

.ui-dialog .ui-dialog-titlebar {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  background: transparent;
  border: none;
  font-size: 22px;
}

.ui-dialog .ui-dialog-titlebar-close {
  position: absolute;
  right: 10px;
  top: 10px;
  border: none;
  background: white;
  width: 40px;
  height: 40px;
  padding: 5px;
  margin: 0;
  z-index: 1000;
  cursor: pointer;
}

.ui-dialog .ui-dialog-titlebar-close::after {
  content: "\2715";
  color: #000;
  position: absolute;
  right: 5px;
  top: 5px;
  font-size: 35px;
  display: block;
  width: 30px;
  height: 30px;
  line-height: 30px;
}

@media (max-width: 768.98px) {
  .ui-dialog fieldset.form-item.error {
    width: 100%;
  }
}

@media (min-width: 769px) {
  .ui-dialog fieldset.form-item.error {
    width: 100%;
  }
}

@media (min-width: 577px) {
  .ui-dialog {
    width: 65% !important;
  }
}

@media (max-width: 768.98px) {
  .ui-dialog {
    width: 85% !important;
  }
}

/*# sourceMappingURL=webform.contact-us.css.map */
