/* Paragraph classy */
.classy-1-2-columns .field--name-field-paragraphs,
.classy-1-3-columns .field--name-field-paragraphs,
.classy-1-4-columns .field--name-field-paragraphs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.classy-1-2-columns .field--name-field-paragraphs > .paragraph {
  flex-basis: 100%;
}

@media (min-width: 768px) {
  .classy-1-2-columns .field--name-field-paragraphs > .paragraph {
    flex-basis: 40%;
  }

  .classy-1-2-columns.has-background .field--name-field-paragraphs > .paragraph {
    flex-basis: 100%;
  }

  .classy-1-3-columns .field--name-field-paragraphs > .paragraph {
    flex-basis: 30%;
  }

  .classy-1-4-columns .field--name-field-paragraphs > .paragraph {
    flex-basis: 25%;
  }
}
