.classy-desktop-only {
  display: none;
}

@media (min-width: 768px) {
  .classy-desktop-only {
    display: block;
  }

  .classy-mobile-only {
    display: none;
  }
}

.custom-color-paragraph-background-gray,
.custom-color-paragraph-background-grey {
  background: grey;
}

.custom-color-paragraph-background-blue {
  background: blue;
}

.custom-color-paragraph-background-deep-blue {
  background: deepskyblue;
}
