/**
:root {
  --main-bg-color: $otsuka-color-ink;
  --Otsuka_Blue: $otsuka-color-blue;
  --Otsuka_Light_Blue: $otsuka-color-light-blue;
  --Otsuka_Ink: $otsuka-color-ink;
  --Otsuka_Ink_Tint: $otsuka-color-ink-tint;
  --Otsuka_Red: $otsuka-color-red;
  --Otsuka_White: $otsuka-color-white;
  --Rexulti_Deep_Green: $otsuka-rexulti-color-deep-green;
}
*/
.bg-white * {
  color: #ffffff;
}

.bg-black * {
  color: #373d42;
}

/* SCSS */
.ui-dialog {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 85vw !important;
  height: 90% !important;
  max-width: 680px;
  max-height: 700px;
  overflow: hidden;
}

.ui-dialog.external-link-popup {
  justify-content: initial;
  padding: 0 20px;
  height: auto !important;
  border: 0;
  background: #ffffff;
}

.ui-dialog.external-link-popup .ui-dialog-titlebar {
  background-color: inherit;
  border: none;
}

.ui-dialog.external-link-popup .ui-dialog-title {
  font-size: 2.4rem;
  line-height: 1.17;
  font-weight: 700;
  text-align: center;
  color: #000000;
  white-space: normal;
  float: none;
  display: block;
  width: 100%;
  margin-top: 65px;
}

@media (max-width: 991.98px) {
  .ui-dialog.external-link-popup .ui-dialog-title {
    font-size: 1.4rem;
    line-height: 1.31;
  }
}

.ui-dialog.external-link-popup .ui-dialog-titlebar-close {
  padding: 0;
  top: 15px;
  right: -15px;
  font-size: 0;
  border: 0;
  background: none;
  width: 25px;
  height: 25px;
  opacity: .5;
}

.ui-dialog.external-link-popup .ui-dialog-titlebar-close:hover {
  opacity: 1;
}

@media (min-width: 992px) {
  .ui-dialog.external-link-popup .ui-dialog-titlebar-close {
    top: 45px;
    right: 15px;
  }
}

.ui-dialog.external-link-popup .ui-dialog-titlebar-close::before, .ui-dialog.external-link-popup .ui-dialog-titlebar-close::after {
  content: '';
  position: absolute;
  top: 11px;
  display: block;
  height: 2px;
  width: 25px;
  background: #000000;
  transform: rotate(45deg);
  cursor: pointer;
}

.ui-dialog.external-link-popup .ui-dialog-titlebar-close::after {
  transform: rotate(-45deg);
}

.ui-dialog.external-link-popup .ui-dialog-content {
  font-size: 1rem;
  line-height: 1.43;
  text-align: center;
  color: #000000;
  overflow: hidden;
  padding: 0;
  max-width: 480px;
  margin: 0 auto;
}

.ui-dialog.external-link-popup .ui-dialog-buttonpane {
  background-color: transparent;
  border: none;
  padding: 10px;
  margin: 0 0 40px;
}

.ui-dialog.external-link-popup .ui-dialog-buttonpane .ui-dialog-buttonset {
  width: 100%;
  display: flex;
  justify-content: center;
}

.ui-dialog.external-link-popup .ui-dialog-buttonpane .button {
  background: #9ae51a;
  color: #000000;
  font-weight: 600;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: none;
  text-shadow: none;
  border: none;
}

.ui-dialog.external-link-popup .ui-dialog-buttonpane .button:last-child {
  background: #ffffff;
}

.ui-widget-overlay {
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  background-color: rgba(0, 0, 0, 0.75);
  opacity: 1;
}

@media (min-width: 992px) {
  .ui-widget-overlay {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
  }
}

/*# sourceMappingURL=interstitials.css.map */
