/**
:root {
  --main-bg-color: $otsuka-color-ink;
  --Otsuka_Blue: $otsuka-color-blue;
  --Otsuka_Light_Blue: $otsuka-color-light-blue;
  --Otsuka_Ink: $otsuka-color-ink;
  --Otsuka_Ink_Tint: $otsuka-color-ink-tint;
  --Otsuka_Red: $otsuka-color-red;
  --Otsuka_White: $otsuka-color-white;
  --Rexulti_Deep_Green: $otsuka-rexulti-color-deep-green;
}
*/
.bg-white * {
  color: #ffffff;
}

.bg-black * {
  color: #373d42;
}

/* SCSS */
@media (max-width: 1200px) {
  .node.node--type-landing-page .node-content-wrapper .paragraph--type--wrapper > .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.node.node--type-landing-page ul {
  padding-left: 0;
  margin-left: 17px;
}

.node.node--type-landing-page ul li {
  position: relative;
  padding-bottom: 17px;
  list-style: none;
}

.node.node--type-landing-page ul li::before {
  content: '.';
  font-size: 28px;
  position: absolute;
  top: -15px;
  left: -17px;
}

.node.node--type-landing-page ul li:last-child {
  padding-bottom: 0;
}

@media (max-width: 567px) {
  .node.node--type-landing-page ul li {
    font-size: 14px;
    line-height: 1.29;
  }

  .node.node--type-landing-page ul li.otsuka-jynarque-hcp-text-small {
    font-size: 12px;
    line-height: 1.25;
  }
}

.node.node--type-landing-page .landing-page-header-content-wrapper {
  position: relative;
  overflow: hidden;
  height: 700px;
}

@media (max-width: 1200px) {
  .node.node--type-landing-page .landing-page-header-content-wrapper {
    background-image: linear-gradient(to bottom, rgba(51, 51, 51, 0) 0%, #333333 50%);
    opacity: 0.9;
  }

  .node.node--type-landing-page .landing-page-header-content-wrapper .banner-icon-block-wrapper {
    display: none;
  }
}

.node.node--type-landing-page .landing-page-header-content-wrapper .field--name-field-hero-block,
.node.node--type-landing-page .landing-page-header-content-wrapper .field--name-field-hero-block-mobile {
  float: none;
  margin: 0;
}

.node.node--type-landing-page .landing-page-header-content-wrapper .field--name-field-hero-block img,
.node.node--type-landing-page .landing-page-header-content-wrapper .field--name-field-hero-block-mobile img {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  object-position: center top;
}

@media (max-width: 1200px) {
  .node.node--type-landing-page .landing-page-header-content-wrapper .field--name-field-hero-block img,
  .node.node--type-landing-page .landing-page-header-content-wrapper .field--name-field-hero-block-mobile img {
    object-position: left top;
  }
}

@media (max-width: 567px) {
  .node.node--type-landing-page .landing-page-header-content-wrapper .field--name-field-hero-block img,
  .node.node--type-landing-page .landing-page-header-content-wrapper .field--name-field-hero-block-mobile img {
    object-position: center top;
  }
}

.node.node--type-landing-page .landing-page-header-content-wrapper .field--name-field-hero-block {
  display: none;
}

@media (min-width: 768px) {
  .node.node--type-landing-page .landing-page-header-content-wrapper .field--name-field-hero-block {
    display: block;
  }
}

@media (min-width: 1200px) {
  .node.node--type-landing-page .landing-page-header-content-wrapper .field--name-field-hero-block img {
    height: 100%;
    min-height: 100%;
    width: auto;
    min-width: auto;
    max-width: 100%;
  }
}

.node.node--type-landing-page .landing-page-header-content-wrapper .field--name-field-hero-block-mobile {
  display: block;
}

@media (min-width: 768px) {
  .node.node--type-landing-page .landing-page-header-content-wrapper .field--name-field-hero-block-mobile {
    display: none;
  }
}

.node.node--type-landing-page .landing-page-header-content-wrapper .banner-background-block-wrapper .node .field--type-image {
  float: none;
  margin: 0;
}

@media (min-width: 1200px) {
  .node.node--type-landing-page .landing-page-header-content-wrapper .banner-background-block-wrapper {
    height: 700px;
    overflow: hidden;
  }
}

.node.node--type-landing-page .landing-page-header-content-wrapper .banner-content-block-wrapper {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
}

@media (min-width: 1200px) {
  .node.node--type-landing-page .landing-page-header-content-wrapper .banner-content-block-wrapper {
    bottom: 34px;
    left: auto;
    right: 0;
    width: 49%;
  }
}

.node.node--type-landing-page .landing-page-header-content-wrapper .banner-content-block-wrapper .banner-content-block-inner-wrapper {
  display: flex;
  flex-direction: column;
  padding-bottom: 9px;
  justify-content: flex-end;
  height: 100%;
}

@media (max-width: 1200px) {
  .node.node--type-landing-page .landing-page-header-content-wrapper .banner-content-block-wrapper .banner-content-block-inner-wrapper {
    position: relative;
    padding-left: 20px;
    padding-right: 0;
  }

  .node.node--type-landing-page .landing-page-header-content-wrapper .banner-content-block-wrapper .banner-content-block-inner-wrapper .container {
    max-width: 100%;
    width: 100%;
    z-index: 1;
  }

  .node.node--type-landing-page .landing-page-header-content-wrapper .banner-content-block-wrapper .banner-content-block-inner-wrapper::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(0deg, #333333 39%, transparent 65%);
    z-index: 0;
  }
}

@media (min-width: 1200px) {
  .node.node--type-landing-page .landing-page-header-content-wrapper .banner-content-block-wrapper .banner-content-block-inner-wrapper {
    padding-bottom: 0;
  }
}

@media (max-width: 1200px) {
  .node.node--type-landing-page .landing-page-header-content-wrapper .field--name-field-first-title,
  .node.node--type-landing-page .landing-page-header-content-wrapper .field--name-field-second-title,
  .node.node--type-landing-page .landing-page-header-content-wrapper .field--name-field-third-title,
  .node.node--type-landing-page .landing-page-header-content-wrapper .field--name-field-title-description {
    padding: 0;
  }

  .node.node--type-landing-page .landing-page-header-content-wrapper .field--name-field-first-title p,
  .node.node--type-landing-page .landing-page-header-content-wrapper .field--name-field-second-title p,
  .node.node--type-landing-page .landing-page-header-content-wrapper .field--name-field-third-title p,
  .node.node--type-landing-page .landing-page-header-content-wrapper .field--name-field-title-description p {
    padding-right: 20px;
  }
}

.node.node--type-landing-page .landing-page-header-content-wrapper .field--name-field-first-title p,
.node.node--type-landing-page .landing-page-header-content-wrapper .field--name-field-second-title p,
.node.node--type-landing-page .landing-page-header-content-wrapper .field--name-field-third-title p,
.node.node--type-landing-page .landing-page-header-content-wrapper .field--name-field-title-description p {
  margin-bottom: 0;
}

@media (min-width: 1200px) {
  .node.node--type-landing-page .landing-page-header-content-wrapper .field--name-field-second-title,
  .node.node--type-landing-page .landing-page-header-content-wrapper .field--name-field-third-title {
    max-width: 586px;
    margin-left: 0;
    padding-left: 0;
  }
}

.node.node--type-landing-page .landing-page-header-content-wrapper .field--name-field-title-description {
  color: #ffffff;
}

@media (min-width: 1200px) {
  .node.node--type-landing-page .landing-page-header-content-wrapper .field--name-field-title-description {
    max-width: 390px;
    padding-left: 0;
    margin: 0 auto;
  }
}

@media (max-width: 567px) {
  .node.node--type-landing-page .landing-page-header-content-wrapper .field--name-field-title-description {
    font-size: 12px;
    line-height: 1.25;
  }
}

.node.node--type-landing-page .landing-page-header-content-wrapper .field--name-field-first-title {
  align-items: center;
  background-color: #9ae51a;
  color: #333333;
  display: flex;
  margin-bottom: 16px;
  min-height: 115px;
  max-width: 100%;
  border-bottom: 3px solid #ff5b48;
  padding-left: 8px;
}

.node.node--type-landing-page .landing-page-header-content-wrapper .field--name-field-first-title h1 {
  font-size: 52px;
  text-transform: uppercase;
  line-height: 0.96;
  letter-spacing: -3px;
}

@media (min-width: 567px) {
  .node.node--type-landing-page .landing-page-header-content-wrapper .field--name-field-first-title h1 {
    letter-spacing: normal;
  }
}

@media (min-width: 1200px) {
  .node.node--type-landing-page .landing-page-header-content-wrapper .field--name-field-first-title {
    border-bottom: 5px solid #ff5b48;
    padding: 8px 0 8px 8px;
    margin-bottom: 38px;
  }

  .node.node--type-landing-page .landing-page-header-content-wrapper .field--name-field-first-title h1 {
    font-size: 80px;
    line-height: 1.08;
  }
}

.node.node--type-landing-page .landing-page-header-content-wrapper .field--name-field-second-title {
  color: #ffffff;
  font-size: 16px;
  line-height: 1.25;
  margin-bottom: 16px;
}

@media (min-width: 1200px) {
  .node.node--type-landing-page .landing-page-header-content-wrapper .field--name-field-second-title {
    font-size: 28px;
    line-height: 1.21;
    margin-bottom: 34px;
  }
}

.node.node--type-landing-page .landing-page-header-content-wrapper .field--name-field-third-title {
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  position: relative;
  line-height: 1.38;
  margin-bottom: 8px;
}

.node.node--type-landing-page .landing-page-header-content-wrapper .field--name-field-third-title .field--item {
  position: relative;
}

.node.node--type-landing-page .landing-page-header-content-wrapper .field--name-field-third-title .field--item::before {
  content: '';
  position: absolute;
  left: -10px;
  background: url(../../../themes/site/themes/custom/otsuka_disease_microsite_theme/assets/build/img/gradient-red-border-mobile.png) no-repeat;
  width: 100%;
  height: 100%;
  background-size: auto 100% !important;
}

.node.node--type-landing-page .landing-page-header-content-wrapper .field--name-field-third-title p {
  padding: 8px 20px 8px 0;
}

@media (min-width: 1200px) {
  .node.node--type-landing-page .landing-page-header-content-wrapper .field--name-field-third-title {
    font-size: 22px;
    line-height: 1.05;
    margin-bottom: 38px;
  }

  .node.node--type-landing-page .landing-page-header-content-wrapper .field--name-field-third-title p {
    padding: 8px 0 8px 16px;
  }

  .node.node--type-landing-page .landing-page-header-content-wrapper .field--name-field-third-title .field--item::before {
    left: 0;
    background: url(../../../themes/site/themes/custom/otsuka_disease_microsite_theme/assets/build/img/gradient-red-border-desktop.png) no-repeat;
  }
}

.node.node--type-landing-page .landing-page-header-content-wrapper .banner-icon-block-wrapper {
  display: none;
}

.node.node--type-landing-page .landing-page-header-content-wrapper .banner-icon-block-wrapper a[type="button"] {
  background: none;
  border: none;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}

@media (min-width: 1200px) {
  .node.node--type-landing-page .landing-page-header-content-wrapper .banner-icon-block-wrapper {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 38px;
    text-align: center;
  }

  .node.node--type-landing-page .landing-page-header-content-wrapper .banner-icon-block-wrapper .field--name-field-icon {
    display: block;
    margin: 0 auto;
    width: 48px;
  }

  .node.node--type-landing-page .landing-page-header-content-wrapper .banner-icon-block-wrapper .field--name-field-icon img {
    padding: 0;
    width: 100%;
    height: auto;
    margin: 0;
  }

  .node.node--type-landing-page .landing-page-header-content-wrapper .banner-icon-block-wrapper .field--name-field-media-image {
    float: none;
    margin: 0;
  }
}

/*# sourceMappingURL=node.landing-page.css.map */
