
button {
  font: inherit;
}

/* buttons */
a.button:any-link,
button {
  box-sizing: border-box;
  display: inline-block;
  max-width: 100%;
  margin: 12px 0;
  border: 2px solid transparent;
  border-radius: 2.4em;
  padding: 0.5em 1.2em;
  font-family: var(--body-font-family);
  font-style: normal;
  font-weight: 500;
  line-height: 1.25;
  text-align: center;
  text-decoration: none;
  background-color: var(--link-color);
  color: var(--background-color);
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

a.button:hover,
a.button:focus,
button:hover,
button:focus {
  background-color: var(--link-hover-color);
  cursor: pointer;
}

button:disabled,
button:disabled:hover {
  background-color: var(--light-color);
  cursor: unset;
}

a.button.secondary,
button.secondary {
  background-color: unset;
  border: 2px solid currentcolor;
  color: var(--text-color);
}

.button.full-width { width: 100%; }
.button.fit-content { width: auto; }

/* Allow icon + text alignment */
.button { display: inline-flex; align-items: center; }

.icon-wrapper { display: inline-flex; align-items: center; }

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  vertical-align: middle;
}

/* Default: icon on the right */
.icon-wrapper.icon--right { margin-left: 0.5em; margin-right: 0; }

/* Left-positioned icon */
.icon-wrapper.icon--left { margin-right: 0.5em; margin-left: 0; }
