button {
  font: inherit;
}

/* base button */
a.button:any-link,
button {
  display: inline-flex;
  align-items: center;
  gap: 0.6em;

  padding: 0.6em 1.4em;
  border-radius: 2.4em;
  border: none;

  font-family: var(--body-font-family);
  font-weight: 500;
  line-height: 1.25;
  text-decoration: none;

  background-color: var(--link-color);
  color: var(--background-color);

  cursor: pointer;
}

/* icon alignment */
.button .icon {
  margin-left: auto;
  display: inline-flex;
  align-items: center;
}

/* size options */
.button.full-width {
  width: 100%;
}

/* hover/focus */
a.button:hover,
a.button:focus,
button:hover,
button:focus {
  background-color: var(--link-hover-color);
}

/* disabled */
button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
